.card-item{
  background-color: #fff5e8;
  height: fit-content;
  width:inherit;
  max-width: inherit;
  border-radius: 20px;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 17px;
  padding-bottom: 17px;
  color: #3a3a3a;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;


  P{
    font-family: 'Karla', sans-serif;
  }


  .card-info-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:inherit;
    max-width: inherit;

    .numbering{
      width:20px;
      height: 20px;
      background-color: #FBCB0A;
      border-radius: 50%;
      color: #f2f2f2;
    }

    .icons{
      margin-left: 14px;
      color: #FBCB0A;
      transition: 0.5s;
      &:hover{
        transform: scale(1.55);
      }
    }
  }
  .description{
    text-align: start;
    font-family: 'Karla', sans-serif;
  }

}
.fade-out{
  opacity:0;
}