.navigation{
  display: flex;
  margin-bottom: 20px;
  width:inherit;
  padding-left: 0px;
  .icons{
    font-size: 30px;
    flex: auto;
    margin-left: 10px;
    color: #FBCB0A;
    transition: 0.5s;

    &:hover{
      margin-top: -10px;
    }
  }
}